/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    body {
        margin: 0 20px;
    }

    .banner {
        margin-bottom: -7%;
    }

    .banner .banner-text {
        margin-top: -25px;
    }

    .banner .banner-img img{
        width: 100%;
    }

    .bridge .bridge-video img{
        width: 90%;
    }

    .contacts .contact-block {
        justify-content: space-around;
    }

    .news-block .news-block-item {
        flex: 0 0 50%;
    }

    .messages-body .messages-body-list .messages-body-list-names {
        width: 50%;
    }

    .workus {
        margin: 90px auto;
    }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .banner {
        margin-bottom: -2%;
    }
    
    .slick-slide img {
        margin: 0 auto;
    }

    .first-form .first-form-item {
        padding: 25px;
    }

    .current .current-list .current-list-item::before {
        left: 10px;
    }

    .subscribe .subscribe-form-item div {
        flex: 0 0 30%;
    }

    .faq .faq-list {
        width: 70%;
    }

    .myterapeft .myterapeft-blocks {
        flex-wrap: wrap;
    }

    .myterapeft .myterapeft-blocks .myterapeft-foto {
        width: 100%;
        text-align: center;
    }

    .messages-block {
        flex-wrap: wrap;
    }

    .messages-block .messages-contacts {
        flex: 0 0 100%;
        margin-bottom: 50px;
    }

    .messages-body {
        flex: 0 0 100%;
    }

    .workus .workus-box .workus-item {
        width: 48%;
    }

    .inquiry-box {
        height: 100%;
    }

    .inquiry-box .inquiry-data {
        flex-wrap: wrap;
        margin-top: 10px;
        justify-content: center;
    }

    .inquiry-box .inquiry-data .inquiry-data-item {
        margin-right: 15px;
        margin-top: 20px;
    }

    .inquiry-box .inquiry-mess .inquiry-mess-text {
        width: 60%;
    }

    .inquiry-box .inquiry-data .inquiry-data-item .inquiry-data-item-text {
        margin-top: 15px;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 868px) {

    .header {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px; 
    }

    .header-logo {
        width: 100%;
        text-align: center;
        margin: 15px auto;
    }

    .header-menu-list .desctop {
        display: none;
    }

    .header-menu-list .dropdown {
        display: block;
    }

    .header-lang {
        display: none;
    }

    #mobile-lang {
        display: block;
        margin: 15px;
        font-size: 12px;
        font-weight: normal;
        font-family: MonsteratR;
        display: flex;
    }

    #mobile-lang span {
        display: block;
        margin-right: 10px;
    }

    #mobile-lang a {
        color: #65d7ed;
    }

    .dropdown-content a {
        padding: 10px;
    }

    a.disable {
        pointer-events: none;
        cursor: default;
        color: #888!important;
    }

    .dropdown-content {
        width: 200px;
    }

    .header-menu {
        font-size: 14px;
        font-family: MonsteratBold;
    }

    .header-menu-list .lines {
        height: 25px;
        width: 25px;
        background-image: url('../img/mob-menu.png');
        background-repeat: no-repeat;
    }

    .header-menu-list ul {
        align-items: center;
        background-color: #fff;
    }

    .header-menu-list li {
        margin-bottom: 1px;
    }

    .header-menu-list ul li {
        margin: 5px;
        padding: 9px
    }

    .header-menu-list .show-menu {
		display:block;
    }

    .popup-reg, .popup-log {
        left: 0;
        top: 0;
        margin-left: 0;
        width: 100%;
        overflow: scroll;
    }
    
    .popup-pick {
        width: 100%;
        left: 0;
        top: 0;
        overflow-y: scroll;
        height: 100%;
    }

    .banner {
        margin-bottom: 30px;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .banner .banner-text .banner-text-desc,
    .banner .banner-text .banner-text-title {
        width: 80%;
        margin: 15px auto;
        text-align: center;
    }

    .current-video {
        flex-wrap: wrap;
    }

    .first-form {
        flex-wrap: wrap;
    }

    .first-form .first-form-item {
        width: 100%;
        margin-bottom: 25px;
    }

    .first-form .first-form-item input[type="tel"] {
        width: 100%;
    }

    .first-form .first-form-item .first-form-button {
        width: 100%;
    }

    .current .current-list .current-list-item {
        flex: 0 0 49%;
    }

    .current-video .current-video-box {
        margin: 0 auto;
        width: 100%;
    }

    .current-video .current-video-desc {
        width: 100%;
    }

    .current-video .current-video-box .thumbnail-container {
        border-radius: 10px;
    }

    .block-title {
        text-align: center;
        font-size: 20px;
    }

    .benefits-list {
        justify-content: center;
    }

    .benefits-list .benefits-list-item {
        flex: 0 100%;
    }

    .benefits-list .benefits-list-item .benefits-list-item-img {
        width: 50%;
    }

    .subscribe .subscribe-form-item span {
        font-size: 16px;
        margin-left: 30px;
    }

    .subscribe .subscribe-form-item input {
        width: 100%;
    }

    .footer .footer-row {
        flex-wrap: wrap;
    }

    .footer-logo, .footer-links, .footer-contact {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .footer-logo, .footer-links {
        flex: 0 0 100%;
    }

    .footer .footer-contact {
        justify-content: space-around;
    }

    .footer .footer-contact div {
        margin: 0;
    }

    .selection .selection-group .selection-form {
        padding: 20px 30px;
    }

    .transaction-summary {
        flex-wrap: wrap;
    }

    .contacts .contact-block {
        flex-wrap: wrap;
    }

    .contacts .contact-block .contact-form {
        width: 100%;
        page-break-after: 20px;
    }

    .faq .faq-list {
        width: 65%;
    }

    .faq .faq-list ul.accordion-list li {
        padding: 25px 30px;
    }

    .transactions {
        flex-wrap: wrap-reverse;
    }


    .transactions .transactions-total, 
    .transactions .transactions-hist, 
    .transactions .transactions-total .button {
        width: 100%;
    }

    .myterapeft .myterapeft-blocks .myterapeft-desc {
        margin: 0 30px;
    }

    .myclients .myclients-item {
        width: 45%;
    }

    .selection .selection-group {
        flex-wrap: wrap;
    }
    
}


@media only screen and (max-width : 768px) {

    .selection .selection-group {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    .profile-group {
        width: 70%;
    }

    .selection .selection-group .video-block {
        text-align: center;
    }

    .selection .selection-group .selection-form {
        width: 100%;
    }

    .faq .row {
        flex-wrap: wrap;
    }

    .faq .faq-list, .faq .faq-other {
        width: 100%;
    }

    .form-acc-footer .form-acc-button {
        width: 40%;
    }

    .myterapeft .myterapeft-blocks .myterapeft-dip {
        justify-content: center;
    }
    .myterapeft .myterapeft-blocks .myterapeft-desc h3 {
        text-align: center;
    }
    
    .myterapeft .myterapeft-blocks .myterapeft-desc ul {
        margin: 10px 0;
        width: 100%;
        flex-wrap: wrap;
    }

    .myterapeft .myterapeft-blocks .myterapeft-desc li {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .data .data-form {
        flex-wrap: wrap;
    }

    .data .data-form-group, .data .data-foto {
        width: 100%;
    }

    .banner-box {
        flex-wrap: wrap-reverse;
    }

    .banner .banner-text {
        width: 100%;
    }

    .banner .banner-img {
        margin: 15px auto;
        width: 100%;
    }   

    .benefit .benefit-box {
        flex-wrap: wrap;
    }

    .workus .workus-box .workus-item {
        width: 95%;
        margin: 0 auto;
    }

    .benefit .benefit-box .benefit-item {
        width: 95%;
        margin: 10px auto;
    }

    .benefit .benefit-box .benefit-item:before {
        top: 22%;
        left: 5%;
    }

    .workneed .workneed-subtitle {
        width: 60%;
    }

    .workneed .workneed-box .workneed-item {
        width: 100%;
    }

    .workneed p {
        width: 100%;
        text-align: center;
    }

    .workus {
        margin: 15px auto;
    }

    .workus .workus-box .workus-item .workus-item-number {
        left: -15px;
    }

    .faq .faq-list ul.accordion-list li h3 {
        padding-right: 20px;
    }

    .transactions .transactions-hist .block-title {
        display: block;
    }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    body {
        margin: 0 5px;
    }

    .header-menu {
        flex-wrap: wrap;  
    }

    .header-lang {
        display: none;
    }

    .header-menu-list input[type=checkbox]:checked ~ #menu {
        width: 55%;
    }

    .header-regist .header-login {
        flex: 0 0 50%;
    }

    .banner .banner-text .banner-text-title {
        width: 80%;
        margin: 10px auto;
        font-size: 28px;
    }

    .first-form .first-form-item .first-form-checkbox {
        flex-wrap: wrap;
    }

    .first-form .first-form-item .first-form-radio {
        flex-wrap: wrap;
    }

    .custom-checkbox+label {
        flex: 1 0 50%;
        margin-bottom: 10px;
    }

    .benefits-list .benefits-list-item {
        margin: 20px 0;
    }

    .benefits-list .benefits-list-item .benefits-list-item-img img {
        width: 50%;
    }

    .subscribe .subscribe-form-item {
        flex-wrap: wrap;
    }

    .subscribe .subscribe-form-item span {
        margin: 10px;
    }

    .subscribe .subscribe-form .subscribe-form-button {
        width: 90%;
        margin: 10px auto;
    }

    .subscribe .subscribe-form-item input {
        width: 90%;
    }

    .subscribe .subscribe-form-item div {
        flex: 1 0 100%;
    }

    .slider-video .slider-video-item {
        margin: 0;
    }

    .slider-video .slick-slide img {
        width: 64%;
    }

    .slider-request .slider-request-item .slider-request-item-head {
        flex-wrap: wrap;
    }

    .thumbnail-container {
        width: 100%;
        margin: 0 auto;
    }

    .current .current-list .current-list-item {
        flex: 1 0 100%;
    }

    .current-video .current-video-desc>div {
        margin: 0 auto;
        padding: 0 40px;
    }

    .current-video .current-video-box .current-start-video {
        left: 34%;
    }

    .slider-video .slide-arrow {
        right: 10px;
    }

    .slider-video .slide-arrow {
        margin-top: -57px;
    }

    .slider-video .prev-arrow {
        right: 80px;
        bottom: -30px;
    }

    .slider-video .slide-arrow {
        bottom: 0;
        top: 107%;
        left: 12%;
        margin: 0 auto;
    }

    .slider-request .slider-request-item {
        padding: 15px;
    }

    .data .terapeft {
        width: 100%;
    }

    .notes .notes-slider .slide-arrow {
        top: 108%;
        z-index: 1111;
    }

    .notes .notes-slider .prev-arrow {
        left: 0;
    }

    .notifications-form > div {
        flex: 0 0 90%;
        margin: 10px auto;
    }

    .notifications .form-ways > div {
        flex: 0 0 90%;
        margin: 10px auto;
    }

    .notifications .form-ways {
        width: 100%;
        flex: 0 0 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .slider-request .slide-arrow {
        top: 100%;
        left: 12%;
        margin: 0 auto;
    }

    .slider-request .prev-arrow {
        right: 90px;
    }

    .footer {
        height: 100%;
    }

    .footer-logo {
        margin-top: 20px;
    }

    .footer .footer-links ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer .footer-links ul li {
        flex: 0 0 100%;
        margin: 10px 50px;
    }

    .footer-privacy a {
        margin: 0 8px;
    }

    .selection-form-exp, .selection-form-gen, .selection-form-lang, .selection-form-checkbox {
        flex-wrap: wrap;
    }
    
    .custom-label label {
        flex: 1 0 100%;
        margin-bottom: 10px;
    }
    

    .selection-form-city input {
        width: 100%;
    }

    .profile-group {
        width: 100%;
    }

    .selection .selection-group .selection-profile {
        margin-left: 0;
        margin-top: 20px;
    }

    .transaction-block .transaction-block-item {
        flex-wrap: wrap;
    }

    .transaction-summary {
        flex-wrap: wrap;
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        justify-content: center;
    }

    .transaction-block .transaction-block-item .transaction-total {
        width: 100%;
    }

    .contact-links .contact-links-num, .contact-links .contact-links-soc {
        width: 100%;
    }

    .transactions .transactions-hist-list div {
        margin: 20px 5px;
    }

    .myclients .myclients-item {
        width: 95%;
    }

    .sertificats .form-item-box .sertificats-add {
        width: 40%;
    }
    
    .workneed {
        padding: 15px;
        margin: 0 auto;
    }

    .workneed .workneed-subtitle {
        width: 100%;
        font-size: 14px;
    }

    .inquiry-box .inquiry-mess {
        flex-wrap: wrap;
    }

    .inquiry-box .inquiry-mess .inquiry-mess-foto {
        width: 100%;
        padding: 30px;
    }

    .inquiry-box {
        padding: 0;
    }

    .inquiry-box .inquiry-mess .inquiry-mess-text {
        width: 90%;
        margin: 0 auto;
    }

    .inquiry-box .inquiry-data .inquiry-data-item {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .inquiry-box .inquiry-data .inquiry-data-item .inquiry-data-item-text {
        width: 90%;
        margin: 30px auto;
    }

    .inquiry-box .inquiry-data .inquiry-data-item .inquiry-data-item-checkbox {
        margin: 30px auto;
    }

    .inquiry-box .inquiry-data .inquiry-data-item .inquiry-data-item-input {
        margin: 30px auto;
    }

    .inquiry-input-text {
        margin-top: 0;
        width: 90%;
    }

    .benefits {
        margin: 0 auto;
    }

    .transaction-summary div {
        margin-bottom: 10px;
    }

    .news-slider .slide-arrow {
        top: 115%;
        right: 43%;
    }

    .news-slider .prev-arrow {
        right: 53%;
    }

    .sertificats .form-item-box {
        justify-content: center;
    }

    .data .data-form .button {
        width: 80%;
        margin: 20px auto;
    }

    .dropbtn {
        color: #65d7ed;
    }

    .messages-block .messages-contacts .messages-block-title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

    .messages-block .messages-contacts 
    .messages-block-title i {
        display: block;
        margin-right: 10px;
    }

    .messages-block .messages-contacts .messages-block-list ul {
        margin: 0;
        padding: 0;
    }
    .messages-block .messages-contacts .messages-block-list ul li {
        text-align: center;
    }

    .messages-body .messages-body-title {
        align-items: center;
    }

    .messages-body .messages-body-title .messages-body-title-group {
        padding: 0;
    }

    .messages-body .messages-body-list {
        flex-wrap: wrap;
    }

    .messages-body .messages-body-list .messages-body-list-names {
        width: 100%;
    }
    .messages-body .messages-body-list .messages-body-list-messadge {
        width: 100%;
    }

}}